#new-post{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 2rem;
   padding: 2rem;
}

#new-post .post-form{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 0.3rem;
}
#new-post .post-form input[type="submit"]{
   margin-top: 0.7rem;
   display: block;
}

.post{
   background-color: var(--color-primary-tint);
   display: grid;
   padding: 1rem;
   width: 100%;
   grid-template: max-content 1fr / 1fr 1fr;
   gap: 1rem;
}
.post .title{

}
.post .thumbnail{
   height: auto;
   width: 100%;
   object-fit: cover;
   grid-column: span 2;
}

.post .owner-span{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}
.post .owner-name{
   color: white;
}
.post .owner-avatar{
   width: 3.8rem;
   height: auto;
   object-fit: cover;
   border-radius: 50%;
}
.post .description-container{
   grid-column: span 2;
   display: flex;
   width: 100%;
   justify-content: center;
   background-color: var(--color-primary);
   padding: 0.5rem;
   text-align: left;
}
.post .description-container p{
   word-break: break-all;
   width: 100%;
}