#home{
   padding: 1rem;
   display: grid;
   gap: 2rem;
   grid-template-columns: max-content;
   grid-auto-rows: max-content;
   justify-content: center;
}

@media (min-width: 800px){
   #home{
      grid-auto-flow: column;
   }
}