#root{
   display: flex;
   flex-direction: column;
   height: 100vh;
}

html{
   text-align: center;
   font-size: 15px;
}

nav{
   display: flex;
   width: 100%;
   height: 2.5rem;
   background-color: var(--color-primary-shade);
   align-items: center;
   justify-content: center;
   gap: 0.9rem;
}
nav a{
   text-decoration: none;
}

footer{
   background-color: var(--color-primary-shade);
   height: 2rem;
   display: flex;
   align-items: center;
   justify-content: center;
}

section{
   background-color: var(--color-primary);
   flex: 1;
}

@media (min-width: 700px){
   html{
      font-size: 16px;
   }
}