#login .remember-me-container{
   display: flex;
   gap: 0.4rem;
   align-items: center;
   margin-top: 0.5rem;
}
#login .remember-me-container input[type="checkbox"]{
   width: 1.2rem;
   height: 1.2rem;
}